# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.phpunit.cache/
.pnpm-store/
tmp/*

node_modules
vendor
*.local
/vendor
public/tmp/*
public/dist/*
public/storage/*
storage/private/*
storage/logs/*
.env
config/config.ini
config/env.ini
**/env.ini
db/database.sqlite
storage/private/*
phpunit.xml
.phpunit.cache/

