@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source "../views/components/web/**/*.php";
@source "../views/layouts/web/**/*.php";
@source "../views/pages/web/**/*.php";

@theme {
    --font-sans:
        'Montserrat', 'Verdana', 'Tahoma', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji';

    /* --breakpoint-xs: 500px; */
    /* --breakpoint-sm: 640px; */
    /* --breakpoint-md: 768px; */
    /* --breakpoint-lg: 1024px; */
    /* --breakpoint-xl: 1280px; */
    /* --breakpoint-2xl: 1536px; */

    --breakpoint-xs: 31.25rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
    --color-primary: oklch(0.47 0.098 295);
    --color-primary-muted: oklch(0.6 0.066 307);
    --color-background: oklch(0.9 0.022 286);
    --color-foreground: oklch(0.42 0 90);
    --rounded-primary: calc(sign(100cqi - 100%)*2rem);

    --shadow-primary: 0 3px 12px #0000003b, 0 3px 12px #00000029;
    --shadow-accent: 0 6px 12px #0000003b, 0 10px 40px #00000030;

    --bg-golden: 90deg, #b9a65b, #e5d3ab 49.25%, #bdaa61 95.67%;
}

@layer base {
    h1,
    h2 {
        @apply text-3xl md:text-4xl lg:text-5xl uppercase font-extrabold;
    }
    h3 {
        @apply text-2xl md:text-4xl lg:text-5xl font-bold;
    }
    h1,
    h2,
    h3,
    h4 {
        @apply text-primary text-balance text-center;
    }
    p,
    li {
        @apply md:text-lg lg:text-xl;
    }
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1em;
}

:root {
    --padding-outer-sm: 0rem;
    --padding-outer-lg: 0.75rem;
    --padding-gap: 4.125rem;

    @media (min-width: 48rem) {
        --padding-outer-lg: 2.25rem;
        --padding-gap: 6.25rem;
    }
    @media (min-width: 64rem) {
        --padding-outer-lg: 2.25rem;
        --padding-outer-sm: 1.5rem;
        --padding-gap: 7.5rem;
    }
    @media (min-width: 80rem) {
        --padding-outer-lg: 2.25rem;
        --padding-outer-sm: 2.125rem;
    }
}

.full-bleed-parent {
    display: grid;
    align-items: start;
    align-content: start;
    grid-template-columns: var(--padding-outer-lg) 1fr var(--padding-outer-lg);

    > * {
        grid-column: 2;
    }

    > *.full-bleed {
        width: 100%;
        grid-column: 1 / 4;
    }
}

.shine {
    position: relative;
    overflow: hidden;
}

.shine::after {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    pointer-events: none;
}

.shine:hover::after {
    animation: shine 750ms forwards;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.underline-slide {
    position: relative;
}
.underline-slide::after {
    content: '';
    position: absolute;
    bottom: -0.2em;
    left: 0;
    width: 0%;
    height: 0.1em;
    flex-shrink: 0;
    background-color: currentColor;
    opacity: 1;
    transition: width 300ms;
}

.underline-slide:hover::after,
.underline-slide:focus::after {
    width: 100%;
}


.rounded-primary {
       border-radius: calc(sign(100cqi - 100%)*1.25rem);
}
