@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source "../views/components/web/**/*.php";
@source "../views/layouts/web/**/*.php";
@source "../views/pages/web/**/*.php";

@theme {
    --font-sans:
        'Montserrat', 'Verdana', 'Tahoma', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji';

    /* --breakpoint-xs: 500px; */
    /* --breakpoint-sm: 640px; */
    /* --breakpoint-md: 768px; */
    /* --breakpoint-lg: 1024px; */
    /* --breakpoint-xl: 1280px; */
    /* --breakpoint-2xl: 1536px; */

    --breakpoint-xs: 31.25rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
    --color-primary: oklch(0.47 0.098 295);
    --color-primary-muted: oklch(0.6 0.066 307);
    --color-background: oklch(0.9 0.022 286);
    --color-background-muted: oklch(0.92 0.017 290);
    --color-foreground: oklch(0.42 0 90);
    --rounded-primary: calc(sign(100cqi - 100%) * 2rem);

    --shadow-primary: 0 3px 12px #0000003b, 0 3px 12px #00000029;
    --shadow-accent: 0 6px 12px #0000003b, 0 10px 40px #00000030;

    --bg-primary-pale: 180deg, #c8b5ff75, #ffffff57;
    --bg-golden: 90deg, #b9a65b, #e5d3ab 49.25%, #bdaa61 95.67%;
}

@layer base {
    h1,
    h2 {
        @apply text-3xl md:text-4xl lg:text-5xl uppercase font-extrabold;
    }
    h3 {
        @apply text-2xl md:text-4xl lg:text-5xl font-bold;
    }
    h1,
    h2,
    h3,
    h4 {
        @apply text-primary text-balance text-center;
    }
    p,
    li,
    a {
        @apply md:text-lg xl:text-xl leading-[160%];
    }
}

html:has(#nav-popup[open]) {
    overflow: hidden;
}

/* section { */
/*     content-visibility: auto; */
/* } */

h1,
h2,
h3,
h4 {
    margin-bottom: 1em;
}

:root {
    --px-sm: 0rem;
    --px-lg: 0.75rem;
    --spacing-y: 4.125rem;
    --pt-lg: 8.75rem;

    @media (min-width: 40rem) {
        --pt-lg: 16.5rem;
    }
    @media (min-width: 48rem) {
        --px-lg: 2.25rem;
        --spacing-y: 6.25rem;
    }
    @media (min-width: 64rem) {
        --px-lg: 2.25rem;
        --px-sm: 1.5rem;
        --spacing-y: 7.5rem;
        --pt-lg: 14rem;
    }
    @media (min-width: 80rem) {
        --pt-lg: 10.5rem;
    }
    @media (min-width: 96rem) {
        --px-lg: 11.125rem;
        --px-sm: 2.125rem;
    }
}

/* pt-35 sm:pt-66 lg:pt-56 xl:pt-42 */
.full-bleed-parent {
    display: grid;
    align-items: start;
    align-content: start;
    grid-template-columns: var(--px-lg) 1fr var(--px-lg);

    > * {
        grid-column: 2;
    }

    > *.full-bleed {
        width: 100%;
        grid-column: 1 / 4;
    }
}

.shine {
    position: relative;
    overflow: hidden;
}

.shine::after {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    pointer-events: none;
}

.shine:hover::after {
    animation: shine 750ms forwards;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.underline-slide {
    position: relative;
}
.underline-slide::after {
    content: '';
    position: absolute;
    bottom: -0.2em;
    left: 0;
    width: 0%;
    height: 0.1em;
    flex-shrink: 0;
    background-color: currentColor;
    opacity: 1;
    transition: width 300ms;
}

.underline-slide:hover::after,
.underline-slide:focus::after {
    width: 100%;
}

.rounded-primary {
    border-radius: calc(sign(100cqi - 100%) * 1.25rem);
}

#nav-popup {
    border-end-start-radius: calc(sign(100cqi - 100%) * 0.75rem);
    opacity: 0;
    transform: translateX(100%);
    transition-property: overlay display opacity tranform;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

#nav-popup[open] {
    transform: translateX(0%);
    opacity: 1;

    @starting-style {
        opacity: 0;
        transform: translateX(100%);
    }
}

#nav-popup::backdrop {
    transition-property: opacity display overlay;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    opacity: 0;
}
#nav-popup[open]::backdrop {
    opacity: 1;
}

@starting-style {
    #nav-popup[open]::backdrop {
        opacity: 0;
    }
}

[popover] {
    opacity: 0;
    translate: 0 30px;

    transition-property: display, overlay, opacity, translate;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

[popover]:popover-open {
    opacity: 1;
    translate: 0px 0px;

    @starting-style {
        opacity: 0;
        translate: 0 -30px;
    }
}

html:has([popover]:popover-open) .popover-underscore {
    width: 100%;
}

@supports (anchor-name: --anchor) {
    [popover] {
        margin-block-end: 1rem;
        inset: auto;
        position-area: bottom;
        position-try: flip-block;
    }

    @media screen and (min-width: 47.93rem) {
        [popover] {
            position-area: bottom span-right;
        }
    }
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details > summary::marker {
    display: none;
}
